/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v20-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v20-latin-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("../fonts/roboto-v20-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v20-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../fonts/montserrat-v14-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"),
    url("../fonts/montserrat-v14-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/montserrat-v14-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*::before,
*::after {
  display: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

.container {
  width: 320px;
  margin: 0px auto;
}

.page-header {
  width: 100%;
  background-color: rgb(26, 25, 21);
  background-image: url("../img/header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 34px 0px 138px;
}

.registration-form {
  display: flex;
  justify-content: space-between;
  margin: 0px auto 100px;
  width: 160px;
}

.registration-form-btn {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  background: transparent;
  border: none;
}

.sign-up {
  border: 2px solid rgb(255, 255, 255);
  width: 94px;
  height: 40px;
  border-radius: 20px;
}

.logo {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 36px;
}

.main-title {
  font-family: var(--main-font);
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.main-title-description {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
}

.main-title-description-br {
  display: block;
}

.holiday-partner-link {
  font-family: var(--main-font);
  font-size: 14px;
  color: rgb(255, 255, 255);
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  margin: 0px auto;
  text-align: center;
  line-height: 40px;
}

.partners-section {
  padding: 75px 0px;
}

.partner {
  margin-bottom: 30px;
}

.partner-item {
  width: 206px;
}

.partners-title {
  font-family: var(--main-font);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
}

.partner-img-wrapper {
  width: 120px;
  margin: 0px auto 22px;
  position: relative;
}

.partner-img {
  border-radius: 50%;
}

.tv::after {
  content: "";
  background-image: url("../img/tv.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 78, 80);
  width: 37px;
  height: 37px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.flask::after {
  content: "";
  background-image: url("../img/flask.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 165, 7);
  width: 37px;
  height: 37px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.coffee::after {
  content: "";
  background-image: url("../img/coffee.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(28, 215, 173);
  width: 37px;
  height: 37px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.telegram::after {
  content: "";
  background-image: url("../img/telegram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(78, 115, 219);
  width: 37px;
  height: 37px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.partner-name {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: rgb(51, 51, 51);
  margin-bottom: 18px;
}

.partner-description {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: rgb(102, 102, 102)
}

.main-title-br,
.partner-description-br,
.partners-title-br {
  display: block;
}

.other-partners-link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 44px;
  color: rgb(275, 78, 80);
  width: 280px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 78, 80);
  border-radius: 20px;
  margin: 0px auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .partner-item:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .partner-item {
    margin: 0px auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .page-header {
    background-image: url("../img/header-tablet.png");
    padding: 38px 0px 234px;
  }

  .registration-form,
  .logo {
    margin: 0px;
  }

  .page-navigation {
    margin: 0px auto 149px;
    width: 678px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .main-title {
    font-size: 52px;
    margin-bottom: 40px;
  }

  .main-title-description {
    font-size: 24px;
    margin-bottom: 38px;
  }

  .holiday-partner-link {
    width: 224px;
  }

  .partners-title {
    margin-bottom: 36px;
  }

  .partner {
    margin: 0px auto 38px;
    width: 462px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .three {
    order: 2;
  }

  .two {
    order: 3;
  }

  .four {
    order: 4;
  }

  .main-title-description-br,
  .partner-description-br {
    display: inline;
  }

  .other-partners-link {
    width: 190px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .partner-item:not(:nth-of-type(2n)) {
    margin-bottom: 58px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .page-header {
    background-image: url("../img/header-desktop.png");
  }

  .page-navigation {
    width: 944px;
  }

  .partner {
    width: 944px;
  }

  .partner-item {
    margin: 0px;
  }
}